<?xml version="1.0"?>
<!--
/**
 * @category   Mdev
 * @package    Mdev_KeyValue
 * @author     Mohit SIngh
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Mdev_KeyValue" setup_version="1.0.0" />
</config>
